@model IK_Intranet_App.Models.Gorev

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gorev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtananKisi" class="control-label"></label>
                <input asp-for="AtananKisi" class="form-control" />
                <span asp-validation-for="AtananKisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durum" class="control-label"></label>
                <input asp-for="Durum" class="form-control" />
                <span asp-validation-for="Durum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Oluşturma Tarihi</label>
                <input type="text" class="form-control" value="@Model.OlusturmaTarihi.AddHours(3).ToString("dd.MM.yyyy HH:mm")" disabled />

                <input type="hidden" asp-for="OlusturmaTarihi" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
